#datetime {
	text-align: center;
}

#datetime h1 {
	font-size: 6.1em;
}

#datetime h2 {
	font-size: 1.0em;
}

#forecast ul li {
	font-size: 4.5em;
	text-align: center;
	float:left;
	margin: 1.0em;
}
#forecast ul li h3 {
	font-size: 1.4em;
}

ul {
list-style-type: none;
}
